* {
    color: rgb(19, 21, 128);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(19, 21, 128);
    padding: 15px;
    display: flex;
    align-items: end;
    gap: 400px;
}

header * {
    color: rgb(138, 151, 211);
}

header ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

a {
    text-decoration: none;
}

header ul li a {
    font-size: 20px;
    font-weight: bold;
}

header ul li a:hover {
    text-decoration: underline;
}

main {
    min-height: calc(100vh - 50px);
    background-image: url('../assets/img.jpg');
    background-size: 1440px 924px;
    padding: 10px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;

}

fieldset {
    background-color: rgb(138, 151, 211);
}

select,
select option,
input {
    color: rgb(19, 21, 128);
}

.foodForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.inputSection {
    display: flex;
}

.foodForm div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
}

legend {
    font-size: 20px;
    font-weight: 900;
}

fieldset,
button {
    padding: 5px;
}

table,
th,
td {
    border: 2px rgb(19, 21, 128);
    border-collapse: collapse;
    padding: 5px;
}

table caption {
    font-weight: bold;
}

table {
    background-color: rgb(138, 151, 211);
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(19, 21, 128);
    align-items: center;
}

footer * {
    color: rgb(138, 151, 211);
}

.social_links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.social_links li a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.social_links li a:hover {
    text-decoration: underline;
}