* {
    color: rgb(154, 97, 54);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

header {
    background-color: rgb(233, 187, 152);
    padding: 15px;
    display: flex;
    align-items: end;
    gap: 400px;
}

header * {
    color: rgb(255, 242, 204);
}

header ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header ul li a {
    font-size: 20px;
    font-weight: bold;
}

header ul li a:hover {
    text-decoration: underline;
}

main {
    min-height: calc(100vh - 50px);
    background-image: url('../assets/background_image.jpg');
    background-size: 1440px 924px;
    padding: 10px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;

}

fieldset {
    background-color: rgb(255, 242, 204);
}

select,
select option,
input {
    color: black;
}

.foodForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.inputSection {
    display: flex;
}

.foodForm div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
}

legend {
    font-size: 20px;
    font-weight: 900;
}

fieldset,
button {
    padding: 5px;
}

table,
th,
td {
    border: 2px rgb(92, 146, 228) solid;
    border-collapse: collapse;
    padding: 5px;
}

table caption {
    font-weight: bold;
}

table {
    color: rgb(38, 13, 230);
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(255, 242, 204);
    align-items: center;
}

footer * {
    color: rgb(38, 13, 230);
}

.social_links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.social_links li a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.social_links li a:hover {
    text-decoration: underline;
}